<ion-menu [content]="content">
  <ion-header>
    <!--<ion-toolbar>-->
      <!--<ion-title>Menu</ion-title>-->
    <!--</ion-toolbar>-->
  </ion-header>

  <ion-content>
    <!--<ion-list>-->
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->
  </ion-content>

</ion-menu>
<ion-grid>
  <ion-row>
    <ion-col col-2 style="height: 100vw;">
      <ion-list>
        <button> </button>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
          <ion-icon [name]="item.icon" item-start></ion-icon>
          {{item.title}}
          <div class="item-note" item-end>
            {{item.note}}
          </div>
        </button>
      </ion-list>
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
      </div>


      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
      a<br>
    </ion-col>
    <ion-col>
      <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false" [class]="selectedTheme"></ion-nav>
    </ion-col>
  </ion-row>
</ion-grid>
